<?xml version="1.0"?>
<config>
    <modules>
        <Robm_Tracking>
            <version>0.0.2</version>
        </Robm_Tracking>
    </modules>
    <global>
        <blocks>
            <robm_tracking>
                <class>Robm_Tracking_Block</class>
            </robm_tracking>
        </blocks>
        <helpers>
            <robm_tracking>
                <class>Robm_Tracking_Helper</class>
            </robm_tracking>
        </helpers>
        <models>
            <robm_tracking>
                <class>Robm_Tracking_Model</class>
            </robm_tracking>
        </models>
        <resources>
            <robm_tracking_setup>
                <setup>
                    <module>Robm_Tracking</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </robm_tracking_setup>
        </resources>
    </global>
    <frontend>
        <events>
            <controller_action_predispatch>
                <observers>
                    <robm_tracking_campaign_params>
                        <class>robm_tracking/observer</class>
                        <method>setCampaignParamsToSessionAndCookie</method>
                    </robm_tracking_campaign_params>
                </observers>
            </controller_action_predispatch>
            <customer_save_before>
                <observers>
                    <robm_tracking_campaign_params_customer_create>
                        <class>robm_tracking/observer</class>
                        <method>addTrackingToCustomerCreate</method>
                    </robm_tracking_campaign_params_customer_create>
                </observers>
            </customer_save_before>
            <sales_convert_quote_to_order>
                <observers>
                    <robm_tracking_campaign_params_order_create>
                        <class>robm_tracking/observer</class>
                        <method>addTrackingToOrderCreate</method>
                    </robm_tracking_campaign_params_order_create>
                </observers>
            </sales_convert_quote_to_order>
        </events>
    </frontend>
</config>
